:root {
  --primary: #497573;
  --secondary: #99f7f2;
  --tertiary: #b2c2c1;
  --quatrinary: #cadbda;
  --light: #e1f5f4;
  --dark: #545454;
  --error: rgb(228, 46, 1);
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Imbue', serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 25px;
  color: var(--dark);
  background-color: #f3fffee1;
}

h1,
h2
{
  font-family: 'Imbue', serif;
  font-weight: 700;
  margin: 5px 0;
  line-height: 1.25;
  font-size: 50px;
}
h3 {
  font-weight: bolder;
  font-size: 30px;
  color: #900202;
}

header {
  background-color: var(--primary);
  color: #f3fffee1;
}

/* a {
  color: var(--dark);
  text-decoration: none;
}

a:visited {
  color: inherit;
} */

/* NAVIGATION */
nav {
  width: 100%;
}

.navbar {
  font-size: xx-large;
  margin-right: 5%;
  margin-left: 5%;
}

.navTitle {
  color: var(--secondary);
  font-size: 60px;
  margin-bottom: -1.5%;
  margin-top: -.5%;
  letter-spacing: 1px;
}

.nav:hover {
  color: var(--secondary);
  cursor: pointer;
}

.enteredNav {
  font-weight: bolder;
  color: var(--secondary);
}

/* ABOUT */

.aboutImage {
  border: 2px solid var(--primary);
}

.aboutText {
  margin-left: 15%;
  margin-right: 15%;
}

.exclaim {
  color: #900202;
  padding: 0 2px;
}

.aboutSpan {
  color: #900202;
  padding: 0 2;
}

/* CONTACT */
.submitBtn {
  background-color: #900202;
  color: #f3fffee1;
  font-weight: bolder;
  font-size: 20px;
  
}

/* PROJECTS */

.card {
  margin: 30px 5px 68px 37px;
  border: 2px solid var(--secondary);
  border-radius: var(--border-radius);
  /* background-color: var(--secondary); */
  color: #f3fffee1;
}

.card-title {
  color: #ee6945;
  margin: 0;
  padding: 0.625rem;
  font-size: 30px;
  font-weight: bolder;
  /* border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0; */
}
.card-text {
  color: var(--primary);
}

.card-body {
  padding: 2.5%;
  font-size: 1.4rem;
}

.projectBtn {
  background-color: #dd2e44;
  bottom: 0;
}

.portHeader {
  margin-top: 1.5%;
}
/* RESUME */

.resLink {
  border: 1px solid #900202;
  margin-top: 2%;
  margin-left: 40%;
  margin-right: 40%;
  display: block;
  font-weight: bolder;
  text-align: center;
  text-decoration: none;
}

.resLink:hover {
  color: var(--secondary);
}

.resLink a {
    color: var(--dark);
    text-decoration: none;
  }
  
  a:visited {
    color: inherit;
  }

.resWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  margin-top: 3%;
}

.resWrapper div {
  padding: 20px 50px;
  margin-top: 20px;
  margin-right: 20px;
}

ul {
  list-style-type: none;
}

/* FOOTER */

footer {
  background-color: var(--primary);
  color: #f3fffee1;
}

.footerList {
  display: flex;
  justify-content: center;
  bottom: 0;
  width: 100%;
  color: var(--secondary);
  margin-top: -2.5%;
  margin-left: 2%;
}

.footerList li {
  position: relative;
  list-style: none;
}

.gitIcon,
.telIcon,
.emailIcon
{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  /* bottom: 0; */
  color: var(--secondary);
}

.gitIcon:hover,
.telIcon:hover,
.emailIcon:hover {
  color: #f3fffee1;
}

.reactIcon {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  /* align-items: center; */
  color: #f3fffee1;
  /* margin-left: 80%; */
  margin-top: -2%;
}

.fareact {
  padding: 0 0 0 3px ;
  color: var(--secondary);
}